documenttests.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/documenttests"
	xmlns:tns="http://www.example.org/documenttests" elementFormDefault="qualified">

	<!-- TESTS -->

	<complexType name="fragmentType">
		<sequence>
			<any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="inputType">
		<sequence>
			<any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="type" type="tns:filetypeType" use="required" />
	</complexType>
	<complexType name="operationType">
		<sequence>
		</sequence>
	</complexType>
	<simpleType name="filetypeType">
		<restriction base="NCName">
			<enumeration value="odt1.0" />
			<enumeration value="odt1.1" />
			<enumeration value="odt1.2" />
			<enumeration value="odt1.2ext" />
			<enumeration value="ott1.0" />
			<enumeration value="ott1.1" />
			<enumeration value="ott1.2" />
			<enumeration value="ott1.2ext" />
			<enumeration value="odg1.0" />
			<enumeration value="odg1.1" />
			<enumeration value="odg1.2" />
			<enumeration value="odg1.2ext" />
			<enumeration value="otg1.0" />
			<enumeration value="otg1.1" />
			<enumeration value="otg1.2" />
			<enumeration value="otg1.2ext" />
			<enumeration value="odp1.0" />
			<enumeration value="odp1.1" />
			<enumeration value="odp1.2" />
			<enumeration value="odp1.2ext" />
			<enumeration value="otp1.0" />
			<enumeration value="otp1.1" />
			<enumeration value="otp1.2" />
			<enumeration value="otp1.2ext" />
			<enumeration value="ods1.0" />
			<enumeration value="ods1.1" />
			<enumeration value="ods1.2" />
			<enumeration value="ods1.2ext" />
			<enumeration value="ots1.0" />
			<enumeration value="ots1.1" />
			<enumeration value="ots1.2" />
			<enumeration value="ots1.2ext" />
			<enumeration value="odc1.0" />
			<enumeration value="odc1.1" />
			<enumeration value="odc1.2" />
			<enumeration value="odc1.2ext" />
			<enumeration value="otc1.0" />
			<enumeration value="otc1.1" />
			<enumeration value="otc1.2" />
			<enumeration value="otc1.2ext" />
			<enumeration value="odi1.0" />
			<enumeration value="odi1.1" />
			<enumeration value="odi1.2" />
			<enumeration value="odi1.2ext" />
			<enumeration value="oti1.0" />
			<enumeration value="oti1.1" />
			<enumeration value="oti1.2" />
			<enumeration value="oti1.2ext" />
			<enumeration value="odf1.0" />
			<enumeration value="odf1.1" />
			<enumeration value="odf1.2" />
			<enumeration value="odf1.2ext" />
			<enumeration value="otf1.0" />
			<enumeration value="otf1.1" />
			<enumeration value="otf1.2" />
			<enumeration value="otf1.2ext" />
			<enumeration value="odm1.0" />
			<enumeration value="odm1.1" />
			<enumeration value="odm1.2" />
			<enumeration value="odm1.2ext" />
			<enumeration value="oth1.0" />
			<enumeration value="oth1.1" />
			<enumeration value="oth1.2" />
			<enumeration value="oth1.2ext" />
			<enumeration value="odb1.2" />
			<enumeration value="odb1.2ext" />
			<enumeration value="odt1.0xml" />
			<enumeration value="odt1.1xml" />
			<enumeration value="odt1.2xml" />
			<enumeration value="odt1.2extxml" />
			<enumeration value="ott1.0xml" />
			<enumeration value="ott1.1xml" />
			<enumeration value="ott1.2xml" />
			<enumeration value="ott1.2extxml" />
			<enumeration value="odg1.0xml" />
			<enumeration value="odg1.1xml" />
			<enumeration value="odg1.2xml" />
			<enumeration value="odg1.2extxml" />
			<enumeration value="otg1.0xml" />
			<enumeration value="otg1.1xml" />
			<enumeration value="otg1.2xml" />
			<enumeration value="otg1.2extxml" />
			<enumeration value="odp1.0xml" />
			<enumeration value="odp1.1xml" />
			<enumeration value="odp1.2xml" />
			<enumeration value="odp1.2extxml" />
			<enumeration value="otp1.0xml" />
			<enumeration value="otp1.1xml" />
			<enumeration value="otp1.2xml" />
			<enumeration value="otp1.2extxml" />
			<enumeration value="ods1.0xml" />
			<enumeration value="ods1.1xml" />
			<enumeration value="ods1.2xml" />
			<enumeration value="ods1.2extxml" />
			<enumeration value="ots1.0xml" />
			<enumeration value="ots1.1xml" />
			<enumeration value="ots1.2xml" />
			<enumeration value="ots1.2extxml" />
			<enumeration value="odc1.0xml" />
			<enumeration value="odc1.1xml" />
			<enumeration value="odc1.2xml" />
			<enumeration value="odc1.2extxml" />
			<enumeration value="otc1.0xml" />
			<enumeration value="otc1.1xml" />
			<enumeration value="otc1.2xml" />
			<enumeration value="otc1.2extxml" />
			<enumeration value="odi1.0xml" />
			<enumeration value="odi1.1xml" />
			<enumeration value="odi1.2xml" />
			<enumeration value="odi1.2extxml" />
			<enumeration value="oti1.0xml" />
			<enumeration value="oti1.1xml" />
			<enumeration value="oti1.2xml" />
			<enumeration value="oti1.2extxml" />
			<enumeration value="odf1.0xml" />
			<enumeration value="odf1.1xml" />
			<enumeration value="odf1.2xml" />
			<enumeration value="odf1.2extxml" />
			<enumeration value="otf1.0xml" />
			<enumeration value="otf1.1xml" />
			<enumeration value="otf1.2xml" />
			<enumeration value="otf1.2extxml" />
			<enumeration value="odm1.0xml" />
			<enumeration value="odm1.1xml" />
			<enumeration value="odm1.2xml" />
			<enumeration value="odm1.2extxml" />
			<enumeration value="oth1.0xml" />
			<enumeration value="oth1.1xml" />
			<enumeration value="oth1.2xml" />
			<enumeration value="oth1.2extxml" />
			<enumeration value="odb1.2xml" />
			<enumeration value="odb1.2extxml" />
			<enumeration value="pdf" />
		</restriction>
	</simpleType>
	<complexType name="fileType">
		<sequence>
			<element name="xpath" type="tns:xpathType" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
		<attribute name="path" use="required" type="string" />
	</complexType>
	<complexType name="xpathType">
		<attribute name="expr" use="required" type="string" />
	</complexType>
	<complexType name="outputType">
		<sequence>
			<element name="file" type="tns:fileType" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
		<attribute name="types" use="required" type="tns:filetypesType" />
	</complexType>
	<complexType name="pdfType">
		<sequence>
			<element name="mask" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
					<attribute name="name" type="NCName" use="required" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="testType">
		<sequence>
			<element name="input" type="tns:inputType" />
			<element name="operation" type="tns:operationType" minOccurs="0"
				maxOccurs="unbounded" />
			<element name="output" type="tns:outputType" minOccurs="0"
				maxOccurs="unbounded" />
			<element name="pdf" type="tns:pdfType" minOccurs="0" />
		</sequence>
		<attribute name="name" type="NCName" use="required" />
	</complexType>
	<complexType name="documenttestsType">
		<sequence>
			<element name="test" type="tns:testType" minOccurs="0"
				maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>
	<element name="documenttests" type="tns:documenttestsType">
		<key name="uniqueTestNames">
			<selector xpath="tns:test" />
			<field xpath="@name" />
		</key>
	</element>

	<!-- REPORT -->

	<simpleType name="validationErrorTypeType">
		<restriction base="string">
			<enumeration value="INVALIDPDFFILE" />
			<enumeration value="INVALIDZIPFILE" />
			<enumeration value="INVALIDMIMETYPE" />
			<enumeration value="DOUBLEZIPENTRY" />
			<enumeration value="MISSINGVERSIONNUMBER" />
			<enumeration value="MISSINGMANIFESTXML" />
			<enumeration value="INVALIDMANIFESTXML" />
			<enumeration value="MISSINGCONTENTXML" />
			<enumeration value="INVALIDCONTENTXML" />
			<enumeration value="MISSINGSTYLESXML" />
			<enumeration value="INVALIDSTYLESXML" />
			<enumeration value="MISSINGMETAXML" />
			<enumeration value="INVALIDMETAXML" />
			<enumeration value="MISSINGSETTINGSXML" />
			<enumeration value="INVALIDSETTINGSXML" />
			<enumeration value="MISSINGFILE" />
			<enumeration value="INVALIDVERSIONNUMBER" />
			<enumeration value="INCONSISTENTVERSIONNUMBER" />
		</restriction>
	</simpleType>
	<complexType name="pdfinfoType">
		<sequence>
			<element name="page" maxOccurs="unbounded">
				<complexType>
					<attribute name="width" type="float" use="required" />
					<attribute name="height" type="float" use="required" />
					<attribute name="png" type="anyURI" use="required" />
					<attribute name="pngthumb" type="anyURI" use="required" />
				</complexType>
			</element>
			<element name="maskResult" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<attribute name="name" type="NCName" use="required" />
					<attribute name="result" type="tns:simpleResultType" use="required" />
					<attribute name="png" type="anyURI" />
					<attribute name="pngthumb" type="anyURI" />
				</complexType>
			</element>
		</sequence>
		<attribute name="pages" type="int" use="required" />
	</complexType>
	<complexType name="validationErrorType">
		<attribute name="type" type="tns:validationErrorTypeType"
			use="required" />
		<attribute name="message" type="string" />
	</complexType>
	<complexType name="missingFileErrorType">
		<complexContent>
			<extension base="tns:validationErrorType">
				<attribute name="path" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>
	<complexType name="validationReportType">
		<sequence>
			<element name="error" type="tns:validationErrorType"
				minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<simpleType name="simpleResultType">
		<restriction base="NCName">
			<enumeration value="true" />
			<enumeration value="false" />
			<enumeration value="invalid" />
		</restriction>
	</simpleType>
	<complexType name="xpathReportType">
		<attribute name="expr" use="required" type="string" />
		<attribute name="result" use="required" type="tns:simpleResultType" />
		<attribute name="error" type="string" />
	</complexType>
	<complexType name="fileTestReportType">
		<sequence>
			<element name="xpath" type="tns:xpathReportType" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
		<attribute name="path" use="required" type="string" />
	</complexType>
	<complexType name="commandReportType">
		<attribute name="exe" type="string" use="required" />
		<attribute name="durationMs" type="int" use="required" />
		<attribute name="exitCode" type="int" use="required" />
		<attribute name="timedout" type="boolean" use="required" />
		<attribute name="stderr" type="string" />
		<attribute name="stdout" type="string" />
	</complexType>
	<complexType name="outputReportType">
		<sequence>
			<element name="commands" type="tns:commandReportType"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="fragment" type="tns:fragmentType" minOccurs="0" />
			<element name="validation" type="tns:validationReportType" />
			<element name="file" type="tns:fileTestReportType" minOccurs="0"
				maxOccurs="unbounded" />
			<element name="pdfinfo" type="tns:pdfinfoType" minOccurs="0" />
		</sequence>
		<attribute name="size" type="long" use="required" />
		<attribute name="path" type="string" use="required" />
		<attribute name="type" type="tns:filetypeType" use="required" />
	</complexType>
	<complexType name="targetReportType">
		<sequence>
			<element name="output" type="tns:outputReportType" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
		<attribute name="name" type="NCName" use="required" />
	</complexType>
	<complexType name="testreportType">
		<sequence>
			<element name="input" type="tns:outputReportType" />
			<element name="target" type="tns:targetReportType" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
		<attribute name="name" type="NCName" use="required" />
	</complexType>
	<complexType name="documenttestsreportType">
		<sequence>
			<element name="testreport" type="tns:testreportType"
				minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>
	<element name="documenttestsreport" type="tns:documenttestsreportType">
	</element>

	<!-- CONFIG -->

	<complexType name="argumentType">
		<attribute name="value" type="string" use="required" />
	</complexType>
	<complexType name="emptyElement">
	</complexType>
	<complexType name="envType">
		<attribute name="name" type="string" use="required" />
		<attribute name="value" type="string" />
	</complexType>
	<complexType name="commandType">
		<sequence>
			<element name="env" type="tns:envType" minOccurs="0"
				maxOccurs="unbounded" />
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="infile" type="tns:emptyElement" />
				<element name="outfile" type="tns:emptyElement" />
				<element name="outdir" type="tns:emptyElement" />
				<element name="argument" type="tns:argumentType" />
			</choice>
		</sequence>
		<attribute name="exe" type="anyURI" use="required" />
	</complexType>
	<simpleType name='filetypesType'>
		<restriction>
			<simpleType>
				<list itemType="tns:filetypeType" />
			</simpleType>
			<minLength value='1' />
		</restriction>
	</simpleType>
	<complexType name="targetOutputType">
		<sequence>
			<element name="command" type="tns:commandType" />
		</sequence>
		<attribute name="inputTypes" type="tns:filetypesType" use="required" />
		<attribute name="outputType" type="tns:filetypeType" use="required" />
	</complexType>
	<complexType name="targetType">
		<sequence>
			<element name="output" type="tns:targetOutputType" maxOccurs="unbounded" />
		</sequence>
		<attribute name="name" type="NCName" use="required" />
	</complexType>
	<complexType name="documenttestsconfigType">
		<sequence>
			<element name="target" minOccurs="0" maxOccurs="unbounded"
				type="tns:targetType" />
		</sequence>
	</complexType>
	<element name="config" type="tns:documenttestsconfigType">
		<key name="uniqueReportNames">
			<selector xpath="tns:test" />
			<field xpath="@name" />
		</key>
	</element>
</schema>
